@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
  }
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    font-family: "Lato", sans-serif;
}

.container{
    background-color: #fff;
    width: 700px;
    height: 400px;
    margin-top: 130px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    padding: 60px 60px;
    display: flex;

}

.sg{
    display: flex;
}
.sg h6{
  color: #002240;
  font-size: 15px;
 
}
.container h1{
    color: var(--primary-color);
    font-family:  Arial, Helvetica, sans-serif
}
input{
    background-color: var(--light-color);
    border: none;
    padding: 10px 60px 10px 20px;
    
}
input[type='submit']{
    padding: 10px 30px;
}
::placeholder{
    color: #002240;
    font-weight: 400px;
    text-align: left;
}
input:focus{
    outline: none;
}
input[type='submit']{
    background-color: var(--primary-color);
    color: #fff;
}

.sep{
    border-bottom: #002240 solid 1px;
}


/* utilities */
.my-1{
    margin: 1rem;
}
.my-sg{
    margin: 1rem 0;

}

.my-0{
    margin: 0.5rem;
}
.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  